body {
  font-family: 'Open Sans', sans-serif;
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cards {
  display: grid;
  width: 60%;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  grid-gap: .5em;
}

.card {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0,0,0,0.8) 0 0 6px;
  border-radius: 4px;
  overflow: hidden;
  margin: 5px;
}

.card:hover {
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  background: #FFEBEE;
}

.card-header {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid;
  padding: 5px 10px;
}

.card-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 175px;
  position: relative;
}

.material-icons {
  font-size: 36px;
  margin-bottom: 5px;
}

.main-description {
  display: none;
}

.card:hover .main-description {
  display: block;
  font-family: Roboto, sans-serif;
  padding: 4px 5px;
  line-height: 12px;
  font-size: 10px;
  text-align: center;
  position: absolute;
  top: 5px;
}

.button img {
  height: 89px;
}

.card:hover .button img {
  display: none;
}

.icon-section {
  line-height: 16px;
  font-size: 16px;
  text-align: center;
  display: grid;
  place-items: center;
}

.card:hover .footer {
  display: none;
}

.footer.icons {
  margin-bottom: 2em;
}


/* Classes for additional colors*/
/* Colors from Google Material Design: https://material.io/guidelines/style/color.html*/

.blu {
  background-color: #E0F7FA;
}

.red {
  background-color: #FFEBEE;
}

.yel {
  background-color: #FFF8E1;
}

.grn {
  background-color: #F1F8E9;
}
