<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OSCA Roadmaps</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='cards.css') }}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>

    <a id="card-resizer" href="#">
      <div id="flip-button">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            Embiggen Cards
          </div>
          <div class="flip-card-back">
            Belittle Cards
          </div>
        </div>
      </div>
    </a>

    <div id="cards" class="little-cards">
      {% for card in cards %}
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card-header blu">{{ card.name }}</div>
              <table class="icon-section">
                <tr class="icons">
                  {% for icon in card.icons %}
                    <td><i class="{{ icon.icon }}"></i></td>
                  {% endfor %}
                </tr>
                <tr class="icon-captions">
                  {% for icon in card.icons %}
                    <td><small>{{ icon.text }}</small></td>
                  {% endfor %}
                </tr>
              </table>
            </div>
            <div class="flip-card-back">
              <div class="card-header red">{{ card.name }}</div>
              <div class="main-description">{{ card.desc }}</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='cards.js') }}"></script>
  </body>
</html>
