<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OSCA Roadmaps</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='cards.css') }}>
  </head>
  <body>
    <div id="cards">
      {% for card in cards %}
        <div class="card">
          <div class="card-header blu">{{ card.name }}</div>
          <div class="card-main">
            <div class="main-description">{{ card.desc }}</div>
            <div class="footer">
              <table>
                <tr>
                  <td>
                    <a class="button">
                      <img src={{ url_for('static', filename='placeholder.png') }} />
                    </a>
                  </td>
                  <!-- I'll come back to this later when I have icons
                  {% for icon in card.icons %}
                    <td><a class="button"><i class="{{ icon.symbol }}"></i></a></td>
                  {% endfor %}
                  -->
                </tr>
                <tr>
                  {% for icon in card.icons %}
                    <td><small>{{ icon.label }}</small></td>
                  {% endfor %}
                </tr>
              </table>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
